.fullINfoSection{
    margin-top: 90px;
    width: 850px;
    background-color: #EBEBEB;
    padding: 30px;
}
.fullINfoSection img{
    background-color: #C4C4C4;
    width: 790px;
    height: 577px;
    margin-top: -30px;
}
.fullINfoSection h2{
    font-size: 22px;
    font-weight: var(--secondary_weight);
    margin-bottom: 20px;
}
.fullINfoSection pre div a img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: 0;
}
.fullINfoSection p {
    font-weight: 400;
    font-size: 14px;
    color: #343434;
    margin-bottom: 30px;
}
.fullINfoSection > div{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.fullINfoSection div pre div{
    height: 28px;
    width: 28px;
    background-color: #C4C4C4;
    border-radius: 50%;
    position: absolute;
    bottom: 62px;
}
.fullINfoSection pre a b {
    position: absolute;
    bottom: 60px;
    left: 100px;
}
/* Loading */
.loader {
    position: relative;
    top: -75vh;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.Main-cont{
    display: flex;
    gap: 10px;
}
#lastFullInfoSection {
    margin-top: 60px;
}
