* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}
html{
    scroll-behavior: smooth;
}
li{
    list-style: none;  
    margin: 0;
    padding: 0; 
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    
}
