:root{
    --primary_color : #2680EB;
    --secondary_color : grey;
    --black_color : #000000;
    --third_color : greenyellow;
    --white_color : #ffffff;
    --footer_color: #EBEBEB;
    --primary_size : 15px;
    --secondary_size : 19px;
    --third_size : 17px;
    --primary_weight: 400;
    --secondary_weight:700;
    --third_weight: 500;
}