.header-menu{
    display: flex;
    align-items: center;
    padding: 0 36px;
    width: 100vw;
    height: 60px;
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.27); 
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.27);
}
.menu-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title{
    font-size: var(--secondary_size);
    font-weight: var(--secondary_weight);
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-right: 60px;
}
.categories{
    display: flex;
    align-items: center;
    gap: 18px;
}
.category{
    text-decoration: none;
    font-size: var(--primary_size);
    color: var(--black_color);
    font-weight: var(--primary_weight);
}
.languages{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
.language{
    text-decoration: none;
    cursor: pointer;
    font-weight: var(--primary_weight);
    color: var(--black_color);
}
.language:hover{color: var(--black_color);}
.language:active{color: var(--primary_color);}
.wand{
    width: 1px;
    height: 17px;
    margin: 0 10px;
    background-color: var(--black_color);
}
.phone{text-decoration: none;}
.line{display: none;}

/* Mobile version */
@media only screen and (max-width: 800px){
    .phone{display: none;}
}
@media only screen and (max-width: 600px){
    .header-burger{
        display: block;
        position: absolute;
        width: 30px;
        height: 20px;
        z-index: 5;
        cursor: pointer;
        right: 20px;
        top: 3%;
    }
    .header-burger::before,
    .header-burger::after{
        content: '';
        background-color: #000000;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }
    .header-burger i{
        position: absolute;
        left: 0;
        background-color: #000000;
        width: 90%;
        height: 3px;
        top: 9px;
    }
    .header-burger::before{
        top: 0px;
        transition: all 0.3s ease 0s;

    }
    .header-burger::after{
        bottom: 0;
        transition: all 0.3s ease 0s;

    }
    .header-burger.active:before{
        transform: rotate(45deg);
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header-burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header-burger.active i{
        transform: scale(0);
    }
    .title{
        position: absolute;
        left: 20px;
        top: 3%;
    }
    .wand{display: none;}
    .menu-box{
        display: none;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 3;
        padding: 100px 20px 30px 20px;
        transition: all 0.9s ease 0s;
    }
    .menu-box.active{
        display: block;
        top: 70px;
        background-color: rgb(53, 2, 53);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
    }
    .categories{display: block;}
    .category{color: var(--white_color);}
    .languages{display: block;}
    .language{color: var(--white_color);}
    .line{
        display: block;
        height: 3px;
        background-color: var(--black_color);
        width: 100%;
        margin: 15px 0;
    }
    .phone{display: inline;}
}
