.header-menu{
    display: flex;
    align-items: center;
    padding: 0 36px;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.27); 
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.27);
    position: fixed;
    top: 0;
    z-index: 4;
}

.menu-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title{
    display: flex;
    font-size: var(--secondary_size);
    font-weight: var(--secondary_weight);
    cursor: pointer;
    position: relative;
    top: 4px;
    margin-right: 60px;
}

.title::before{
    content: '';
    position: absolute;
    top: 80%;
    height: 2px;
    width: 0%;
    background-color: var(--third_color);
    margin-top: 10px;
    transition: all 0.4s;
}
.title:hover:before{
    content: '';
    position: absolute;
    top: 80%;
    height: 2px;
    width: 70%;
    background-color: var(--third_color);
    margin-top: 10px;
}
.title span{
    color: var(--third_color);
}
.title img{
    margin-left: 5px;
}
.categories{
    display: flex;
    align-items: center;
    gap: 40px;
}
.category{
    text-decoration: none;
    font-size: var(--primary_size);
    color: var(--black_color);
    font-weight: var(--primary_weight);
}
.languages{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}
.language{
    text-decoration: none;
    cursor: pointer;
    font-weight: var(--primary_weight);
    color: var(--black_color);
}
.language:hover{color: var(--black_color);}
.language:active{color: var(--primary_color);}
.wand{
    width: 1px;
    height: 17px;
    margin: 0 10px;
    background-color: var(--black_color);
}
.phone{text-decoration: none;}
.line{display: none;}




