.top_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding-left: 2.5em;
    padding-right: 2.5em;
    -webkit-box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.27); 
    box-shadow: 0px 6px 18px 3px rgba(0,0,0,0.27);
}
.Article{
    width: 55px;
    height: 20px;
    margin-right: 40px;
    font-weight: 800;
    font-size: 18px;
    position: relative;
    bottom: 4px;
    text-decoration: none;
    color: black;
    
}
.contanier_subjects{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.ForLanguage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
}
.m-subject{
    margin-left: 10px;
    margin-right: 10px;
}
.header-subjects{
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.ri-close-line{
    font-size: 2em;
    display: none;
}
/* Tllar va raqamlar uchun stillar */
.LanguageUz{
    color: #2680EB;
    font-weight: 600;
    font-size: 15px;
}
.LanguageEn{
    font-weight: 600;
    font-size: 15px;
}
.LanguageEn::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 18px;
    background-color: black;
    margin-right: 2em;
    margin-left:2em;
    top: 21px;
}
.LanguageRu{
    font-weight: 600;
    font-size: 15px;
}
.PhoneNumber{
    font-weight: 600;
    color: #2680EB;
    margin-left: 13px;
    cursor: pointer;
    font-size: 15px;
}
#IconMenuOpen{    /* icon Hamburger */
    display: none;
    font-size: 2em;
    cursor: pointer;
}

#IconMenuOpen:hover{
    font-size: 2.2em;
    color: grey;
}
#IconMenuClose:hover{
    cursor: pointer;
    color: grey;
    font-size: 2.2em;
}
@media only screen and (max-width: 600px){
    .header-subjects{display: none;}
    .LanguageUz{display: none;}
    .LanguageRu{display: none;}
    .LanguageEn{display: none;}
    .PhoneNumber{display: none;}
    #IconMenuOpen{display: block;}
}
@media only screen and (max-width: 800px){
    .PhoneNumber{display: none;}
}
#SubjectsMobileVersion{
    display: none;
    background-color: rgb(87, 6, 87);
    width: 100%;
    height: 20em;
    margin-top: 10px;
    padding: 10px;
}
.LanguagesMB{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.1em;
    transition: 0.5s;
}

.line{
    color: white;
    height: 2px;
}
.contanier_phone_mb_version{
    display: flex;
    justify-content: center;
}
.phone_num{
    text-decoration: none;
    font-size: large;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
.phone_num:hover{
    color: grey;
}


/* Tillar va raqamlar uchun */