.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    background-color: var(--footer_color);
    padding: 0 36px;
    
    
}
.footer-container div{
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
.footer-container section a{
    text-decoration: none;
    color: var(--black_color);
}
.footer-container ul{
    display: flex;
    gap: 40px;
}
.footer-title{
    font-size: var(--secondary_size);
    font-weight: var(--secondary_weight);
    cursor: pointer;
    position: relative;
    top: 4px;
}
.footer-title span{
    color: var(--third_color);
}
.footer-link{
    font-size: 17px;
}
.footer-link i{
    margin: 0 5px;
}